<div class="flex flex-col gap-4 items-center mb-4">
  <h1 class="text-2xl font-bold mb-4">New Article</h1>

  <%= form_with model: @article, local: true, html: { class: 'bg-neutral-100/40 p-6 rounded shadow-md w-[60%]' } do
    |form| %>

    <div class="mb-4">
      <%= form.label :title, class: 'block text-sm font-medium text-gray-700' %>
        <%= form.text_field :title,
          class: 'mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring focus:ring-blue-300'
          %>
    </div>

    <div class="mb-4">
      <%= form.label :body, class: 'block text-sm font-medium text-gray-700' %>
        <%= form.text_area :body,
          class: 'mt-1 block w-full h-48 border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring focus:ring-blue-300'
          %>
    </div>

    <div class="mb-4">

      <%= label_tag :co_authors, "Co-Authors" ,class: ' text-sm font-medium text-gray-700' %>
        <%= select_tag 'co_authors[]' , options_from_collection_for_select(User.all.where.not(id: current_user.id), :id,
          :username), multiple: true,
          class: 'mt-1 block w-full h-20 border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring focus:ring-blue-300 h-12'
          %>

    </div>


    <div>
      <%= form.submit 'Create Article' ,
        class: 'w-full bg-blue-600 text-white font-bold py-2 rounded hover:bg-blue-700 transition duration-200' %>
    </div>

    <% end %>
</div>